@page
@model ForceErrorModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Aplicação configurada com o status Unhealthy (simulando um erro 500)!!!</h1>
</div>